body {
    background: rgb(254,125,13);
    background: linear-gradient(90deg, rgba(254,125,13,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    margin-top: 100px;
}

.banner-container {   
    .banner {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: auto;
        padding: 50px 50px 150px 50px;
        img {
            width: 600px;
        }
        .banner-text {
            text-align: center;
            padding: 100px 0px;
            .discover-button {
                transition: 0.5s;
                padding: 10px 20px;
                background-color: white;
                margin-top: 20px;
                color: rgb(254,125,13);
                font-weight: bold;
                border-radius: 10px;
                font-size: 20px;
                text-decoration: none;
                &:hover {
                    transition: 0.5s;
                    transform: scale(1.15);
                    background-color: $tertiary-color;
                }
            }
            h1 {
                font-size: 70px;
                font-weight: bold;
                margin-bottom: 20px;
                color: $tertiary-color;
            }
            h3 {
                margin-bottom: 40px;
                color: $tertiary-color;
            }
        }
    }
}
.center {
    background-color: white;
    margin: auto;
    border-radius: 1000px/50px;
    .typologies {
        margin: auto;
        padding-top: 200px;
        width: 60%;
        h1 {
            font-size: 50px;
            margin-bottom: 20px;
            margin-bottom: 50px;
            font-weight: bold;
            color: $tertiary-color;
        }
        .typologies {
            margin: auto;
            h1 {
                text-align: center;
                color: $tertiary-color;
            }
        }
        .checkboxes {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 50px;
            .checkbox {
                transition: 0.5s;
                font-size: 15px;
                margin: 10px 20px;
                padding: 5px 30px;
                border-radius: 50px;
                border: 1px solid white;
                cursor: pointer;
                background: rgb(254,125,13);
                color: white;
                -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                &:hover {
                    transition: 0.2s;
                    transition: 0.5s ease;
                    transform: scale(1.15);
                    background: $tertiary-color;
                }
            }
        }
        .restaurant-list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 300px;
            .restaurant {
                transition: 1s;
                -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                border-radius: 10px;
                width: 300px;   
                margin-right: 50px;
                padding-bottom: 20px;
                h4 {
                    padding-left: 20px;
                    font-weight: bold;
                }       
                h5, p {
                    padding-left: 20px;
                }
                ul {
                    padding-left: 40px;
                    padding-bottom: 20px;
                }
                img {
                    width: 100%;
                    margin-bottom: 20px;
                    border-radius: 10px;
                }
                &:hover {
                    filter: grayscale(100%);
                    transition: 0.2s;
                    transition: 1s ease;
                    transform: scale(1.15);
                }
            }
            a {
                text-decoration: none;
                color: $tertiary-color;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.lavora {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 60%;
    margin-top: 100px;
    justify-content: space-between;
}
.test {
    background-color: white;
    border-radius: 1000px/50px;
    .test2 {
        width: 50%;
        margin: auto;
        padding: 100px 0px;
        text-align: center;
        .slider {
            display: flex;
            align-items: center;
            i {
                color: lightgrey;
                font-size: 50px;
                transition: 0.5s;
                &:hover {
                    color: grey;
                    transition: 0.5s;
                }
            }
            #slide {
                border: 0px;
                background-color: white;
            }
            #slideBack {
                border: 0px;
                background-color: white;
            }
        }
        h1 {
            margin-bottom: 50px;
            font-weight: bold;
            font-size: 50px;
            color: $tertiary-color;
        }
        .tipi {
            display: flex;
            overflow: auto;
            overflow: hidden;
            white-space: nowrap;
            width: 70%;
            margin: auto;
            justify-content: space-between;
            img {
                cursor: pointer;
                margin: 20px 20px;
                transition: 0.5s;
                border-radius: 50%;
                box-shadow: 2px 2px 5px 2px #888888;
                height: 100px;
                padding: 20px;
                &:hover{
                    transform: scale(1.3);
                    transition: 0.5s;
                    box-shadow: 2px 2px 5px 2px orange;
                }
            }
        }
    }
}
html {
	scroll-behavior: smooth;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }