.navbar {
    background-color: $primary-color!important;

    .nav-link {
        font-weight: bold;
        color: $secondary-color!important;
        text-align: center;
        background-color: white;
        width: 100px;
        border-radius: 5px;
        padding: 10px 15px;
        margin-left: 20px;
    }

}