// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Partials
@import 'partials/navbar';
@import 'partials/footer';

// Guests
@import 'pages/guests/home';
@import 'pages/guests/restaurant';
@import 'pages/guests/checkout';
@import 'pages/guests/success_payment';

// Admin
@import 'pages/admin/authentication';
@import 'pages/admin/home';
@import 'pages/admin/orders';
@import 'pages/admin/menu_plates';
@import 'pages/admin/show';
@import 'pages/admin/edit';
@import 'pages/admin/create';

// general settings
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// /general settings