body {
    background-color: white;
    margin-top: 75px;
}
@media screen and (max-width: 600px) {
    .banner img {
        display: none;
        width: 100px;
    }
}
// scrollbar settings

// /scrollbar settings
// utility class
.active{
    background-color: $tertiary-color;
}
// /utility class
.banner-container {   
    background: linear-gradient(90deg, rgba(254,125,13,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    .banner {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width: 60%;
        margin: auto;
        padding: 0px 50px 20px 50px;
        img {
            max-width: 800px;
            width: 500px;
        }
        .banner-text {
            max-width: 500px;
            text-align: center;
            padding: 100px 0px;
            .discover-button {
                transition: 0.5s;
                padding: 10px 20px;
                background-color: white;
                margin-top: 20px;
                color: rgb(254,125,13);
                font-weight: bold;
                border-radius: 10px;
                font-size: 20px;
                text-decoration: none;
                &:hover {
                    transition: 0.5s;
                    transform: scale(1.15);
                    background-color: $tertiary-color;
                }
            }
            h1 {
                font-size: 70px;
                font-weight: bold;
                margin-bottom: 20px;
                color: $tertiary-color;
            }
            h3 {
                margin-bottom: 40px;
                color: $tertiary-color;
            }
        }
    }
}
.curvature {
    //border-radius: 1000px/100px;
    border-radius: 100%/0 0 130px 130px;
    background: linear-gradient(90deg, rgba(254,125,13,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    height: 180px;
    width: 100%;
    position: absolute;
    transform: translate(0px, -100px);
}
.home-component {
    background-color: white;
    margin: auto;
    text-align: center;
    
    .typologies {
        margin: auto;
        width: 80%;
        h1 {
            font-size: 50px;
            margin-bottom: 50px;
            font-weight: bold;
            color: $tertiary-color;
        }
        .restaurant-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 200px;
            .restaurant {
                transition: 1s;
                -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                max-width: 450px;   
                margin: 50px 20px;
                padding-bottom: 20px;

                &:hover {
                    filter: grayscale(100%);
                    transition: 0.2s;
                    transition: 1s ease;
                    transform: scale(1.15);
                }

                .restaurant-info{
                    text-align: center;
                    h4 {
                        font-size: 30px;
                        font-weight: bold;
                    }       
                    p {
                        font-size: 20px;
                    }
                    ul {
                        list-style: none;
                        padding-bottom: 20px;
                        display: flex;
                        flex-wrap: wrap;

                        li{
                            padding: 5px;
                        }

                    }
                    img {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
                
            }
            a {
                text-decoration: none;
                color: $tertiary-color;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.lavora-con-noi-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 100px;
    width: 70%;
    text-align: center;
    .lavora-con-noi {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 30px;
    }
    h1 {
        max-width: 300px;
        padding-top: 40px;
        font-weight: bold;
    }
    p {
        max-width: 300px;
        padding-top: 20px;
    }   
}
.slider-container {
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 1000px/50px;
    .slider-container-2 {
        max-width: 1000px;
        margin: auto;
        text-align: center;
        // container delle categorie
        .slider-container-3 {
            display: flex;
            align-items: center;
            max-height: 350px;
            overflow-y: scroll;
            // !per inner boxshadow controllare il funzionamento in altri browser
            -webkit-box-shadow: 0 10px 22px -22px $secondary-color inset, 0 -10px 22px -22px $secondary-color inset;
            
        }
        .slider-container-3::-webkit-scrollbar-thumb {
            background-color: inherit;
        }
        ::-webkit-scrollbar-track {
            background-color: inherit;
        }
        h1 {
            margin-bottom: 50px;
            font-weight: bold;
            font-size: 50px;
            color: $tertiary-color;
        }
        #slider-typologies {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 0px 0px 20px 0px;
            margin: auto;
            text-align: center;
            justify-content: space-around;
            .typology_box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                border-radius: 50%;
                margin: 2rem;

                .check_input{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 100%;
                    transform: scale(3);
                    border-radius: 50%;
                }    
                img {
                    cursor: pointer;
                    margin: 0;
                    transition: 0.5s;
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px 2px #888888;
                    height: 100px;
                    padding: 10px;
                    &:hover{
                        transform: scale(1.3);
                        transition: 0.5s;
                        box-shadow: 2px 2px 5px 2px orange;
                    }
                }

            }
           
        }
    }
}
html {
	scroll-behavior: smooth;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }