.presentation {
    color: $tertiary-color;
    
    h1 {
        font-size: 50px;
        font-weight: bold;
        color: $tertiary-color;
        margin: 30px 0;
        text-align: center;
    }

    p { 
        text-align: left;
        margin: 20px 0;
        font-size: 20px;
    }
}

.dashboard_menu {
    display: flex;
    justify-content: center;
    margin: 100px 0;

    .img_dashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
        img {
            width: 100px;
            margin: 0 60px 30px 60px;
        }
        
        h3 {
            text-decoration: none;
            font-weight: bold;
            color: $tertiary-color;
        }
    }
}

@media #{$smartphone} {
    .presentation {
        padding: 0 30px;
    
        p {
            margin: 0;
        }
    }

    .dashboard_menu {
        flex-direction: column;

        .img_dashboard {
            margin: 30px 0;
        }
    }
}