.plates_list {
    display: flex;
    flex-direction: column;
    
    .plate_card {
        display: flex;
        width: 100%;
        margin-top: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid lightgray;

        img {
            width: 300px;
            height: 180px;
            border-radius: 10px;
        }

        .plate_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 300px);
            color: $tertiary-color;
            
            
            h3 {
                width: 150px;
                text-align: left;
                font-weight: bold;
                margin-left: 15px;
            }

            .visibility {
                width: 140px;
            }

            p {
                width: 300px;
            }

            .group_button {
                display: flex;
                flex-direction: column;
                width: 120px;
            }
        }
    }
}