.title_bills{
  margin-top: 30px;
  color: $tertiary-color;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.card_container{
  color: rgba(#435070, 0.75);
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .card-scontrino{
    position: relative;
    width: 30%;
    margin: 30px 0;
    .card_image{
      width: 100%;
      display: block;
    }
    .card-body{
      height: 518px;
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      .card-title{
        margin: 45px 0 50px;
        font-size: 1rem;
        font-weight: bold;
      }
      .card_info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .card_plate_name{
          width: 70%
        }
        .card_plate_price{
          width: 25%;
          text-align: right;
        }
      }
      .card_total{
        font-size: 1.8rem;
        font-weight: bolder;
        position: absolute;
        bottom: 32px;
        left: 22px;
        color: $tertiary-color;
      }
    }
  }
}
